<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    {% endblock %}

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">covid-19-puerto-rico</a>
      <button class="navbar-toggler"
              type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ bulletin_date }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for date in bulletin_dates %}
                      <a class="dropdown-item" href="../{{ date }}/index.html">{{ date }}</a>
                      {% endfor %}
                  </div>
              </li>
          </ul>

          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" target="_blank" rel="noopener noreferrer"
                     href="https://nextstrain.org/fetch/covid-19-puerto-rico.org/auspice/ncov_puerto-rico.json?f_division=Puerto%20Rico">
                      Nextstrain
                  </a>
              </li>
          </ul>

          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/sacundim/covid-19-puerto-rico">GitHub</a>
              </li>
          </ul>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <script src="../js/vega-aux.js"></script>

    <div class="page_content">
        <div class="section" id="browserCompliance" style="display: none;">
            <h1>Advertencia de compatibilidad</h1>

            <p>Las visualizaciones de datos en esta página no son enteramente
                compatibles con su navegador de web.  Como solución parcial,
                he sustituído imágenes pregeneradas en un navegador que sí es
                compatible, pero a costa de la experiencia óptima (e.g. mostrar
                más detalle cuando apunta con el ratón a los datos).</p>

            <p>Conocidos incompatibles:</p>
            <ul>
                <li>Safari en computadora (portatil o de escritorio)</li>
                <li>Tabletas y teléfonos Apple (no importa cuál navegador)</li>
            </ul>
            <p>Conocidos compatibles:</p>
            <ul>
                <li>Chrome (en computadora)</li>
                <li>Firefox (en computadora)</li>
            </ul>

            <p>La compatibilidad de otros navegadores se desconoce.</p>
        </div>

        <script type="text/javascript">
            if (!testCompliance()) {
                var warning = document.getElementById("browserCompliance");
                warning.style.display = "block";
            }
        </script>


        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>