<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="0; url={{ bulletin_date }}/index.html" />
    <script type="text/javascript">
        window.location.href = "{{ bulletin_date }}/index.html"
    </script>
    <title>Redirección de página</title>
</head>
<body>
    <body>
        <p>Si tu navegador no te redirige inmediatamente,
            <a href='{{ bulletin_date }}/index.html'>sigue este enlace</a>.</p>

        <p hidden><a rel="me" href="https://kolektiva.social/@midnucas">Mastodon</a></p>
    </body>
</body>