.page_content {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
}

.section {
    border-style: solid;
    margin-bottom: 75px;
    padding: 25px
}

h1 {
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 50px
}

.chart {
    margin-top: 25px;
    margin-bottom: 25px;
}

.source_chart {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%;
    height=auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
