.page_content {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
}

.section {
    border-style: solid;
    margin-bottom: 75px;
    padding: 25px
}

h1 {
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 50px
}

.chart {
    margin-top: 25px;
    margin-bottom: 25px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

dt {
    font-weight: bold;
    text-decoration: underline;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.figure_chart {
    max-width: 100%;
}

center {
    margin-bottom: 1rem;
}