{% extends "base.html" %}

{% block title %}Análisis boletín {{ bulletin_date }}{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script src="../js/vega-aux.js"></script>

<div class="section" id="browserCompliance" style="display: none;">
    <h1>Advertencia de compatibilidad</h1>

    <p>Las visualizaciones de datos en esta página no son enteramente
        compatibles con su navegador de web.  Como solución parcial,
        he sustituído imágenes pregeneradas en un navegador que sí es
        compatible, pero a costa de la experiencia óptima (e.g. mostrar
        más detalle cuando apunta con el ratón a los datos).</p>

    <p>Conocidos incompatibles:</p>
    <ul>
        <li>Safari en computadora (portatil o de escritorio)</li>
        <li>Tabletas y teléfonos Apple (no importa cuál navegador)</li>
    </ul>
    <p>Conocidos compatibles:</p>
    <ul>
        <li>Chrome (en computadora)</li>
        <li>Firefox (en computadora)</li>
    </ul>

    <p>La compatibilidad de otros navegadores se desconoce.</p>
</div>

<script type="text/javascript">
    const bulletin_date = "{{ bulletin_date }}";

    if (!testCompliance()) {
        var warning = document.getElementById("browserCompliance");
        warning.style.display = "block";
    }
</script>

<div class="section">
    <h1>Cambio entre boletines consecutivos</h1>

    <div id="DailyDeltas" class="chart"></div>
    <script type="text/javascript" class="chart">
      embedChart('DailyDeltas', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>Una gráfica que muestra, para los boletines más recientes, los
        resultados tomar los números de sus gráficas como esta:</p>

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_confirmed.jpg"></p>

    <p>...y restarle sus contrapartes del boletín anterior:</p>

    <p><img class="source_chart" src="../source_material/{{ previous_date }}/{{ previous_date }}_confirmed.jpg"></p>

    <p>Esto nos da un desglose aproximado, para cada boletín, de a qué fecha se le
        atribuyeron los casos nuevos que reporta este.</p>

    <p>Hay que notar que frecuentemente se ven fechas que salen números negativos.
        La información que brinda el Departamento de Salud de Puerto Rico no deja claro
        qué motiva esto en cada caso; algunas posibilidades podrían ser:</p>

    <ul>
        <li>Casos probables que luego se recibió resultado confirmatoria (positiva o negativa);</li>
        <li>Llegada de resultado positivo más antiguo para la misma persona;</li>
        <li>Corrección de errores clericales en los récords.</li>
    </ul>

    <p>La existencia de números negativos también complica la interpretación de este
        modo: las fechas que dan positivos no sabemos si hubo resta de casos.  Una
        fecha que diga que un boletín la subió por siete casos bien pudiera ser que
        se registraron 8 casos nuevos y se restó uno.</p>
</div>


<div class="section">
    <h1>Rezago de datos de cada boletín</h1>

    <div id="LatenessDaily" class="chart"></div>
    <script type="text/javascript">
      embedChart('LatenessDaily', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>Un estimado, para los boletines más recientes, de cuánto tiempo
        atrás en promedio se tomaron las muestras que añade y las muertes
        que reporta.</p>

    <p>Este estimado se elabora a partir de los datos arriba de los cambios
        entre boletines consecutivos. Por el asunto de los números negativos
        en esos datos, no se puede esperar que estos rezagos estimados
        sean los valores exactos que calcularíamos si tuvieramos mejor datos.</p>
</div>


<div class="section">
    <h1>Tendencia de rezago de datos</h1>

    <div id="Lateness7Day" class="chart"></div>
    <script type="text/javascript">
      embedChart('Lateness7Day', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>Un estimado de rezagos similar al anterior, pero en vez de evaluar
        los casos de cada boletín aparte, se agrupan en ventanas rodantes
        de siete días.  O sea, la cifra que se reporta para cada fecha de
        boletín abarca no solo los casos nuevos reportados en ese boletín,
        sino también los seis días anteriores.</p>

    <p>El ancho de ventana se fijó en siete días para eliminar los ciclos
        semanales que son evidentes en los datos de fuente, como se aprecia
        fácil en esta gráfica del boletín:</p>

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_probable.jpg"></p>

    <p>Las fechas como el 18, 19, 25 y 26 de abril, que reportan bien pocos
        casos, es que son fines de semana.</p>

    <p>Vale añadir que de los ocho puntos que muestran estas líneas, solo el
        primero y el último son estadísticamente independientes.  Por ejemplo
        la cifra más reciente y la anterior son calculadas a partir de ventanas
        de siete días que coinciden en seis de estos.</p>
</div>


<div class="section">
    <h1>Tendencias por día de semana</h1>

    <div id="WeekdayBias" class="chart"></div>
    <script type="text/javascript">
      embedChart('WeekdayBias', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>Casos de los 21 boletines anteriores al actual, reportados con no más
        de 14 días de rezago respecto a cada boletín, agrupados por la
        combinación de:</p>

    <ul>
        <li>Día de la semana que se tomó la muestra (o falleció el paciente);</li>
        <li>Día de la semana del boletín en que se añadió el caso.</li>
    </ul>

    <p>La intensidad del color de cada cuadro refleja el promedio de cuántos casos
        se registraron para esa combinación. Los histogramas marginales muestran
        los promedios agrupados por la variable de un sólo eje.</p>

    <p><b>ADVERTENCIAS:</b></p>
    <ul>
        <li>Esta gráfica no incorpora los datos del boletín actual, porque su
            intención es contextualizar estos respecto a la tendencia de los
            21 días anteriores.</li>
        <li>El análisis excluye casos reportados con más de 14 días de rezago, por
            entenderse que estos reflejan eventos irregulares que tienden a confundir
            verdaderos ciclos semanales.</li>
        <li>Los boletines siempre salen la mañana del día posterior al que cuyos datos
            reportan.  Así que los datos que esta gráfica atribuye, por ejemplo, a boletín
            de martes, corresponden a anuncio de miércoles.</li>
    </ul>
</div>


<div class="section">
    <h1>Curvas de casos acumulados por fecha de evento y de reporte</h1>

    <div id="Cumulative"></div>
    <script type="text/javascript">
      embedChart('Cumulative', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>Los números de casos acumulados para cada fecha, interpretándose esta tanto como:</p>

    <dl>
        <dt>Fecha de boletín</dt>
        <dd>El número de casos que reportó el boletín de esa fecha.  Estos son los
            números acumulados que se anuncian cada día y que más se comentan.</dd>
        <dt>Fecha de muestra o actual de muerte</dt>
        <dd>El número de casos que boletines posteriores le atribuyen a esa fecha,
            a partir de agrupar los casos por fecha que se tomó la muestra o que
            aconteció el fallecimiento.</dd>
    </dl>

    <p>En esta gráfica vale apreciar:</p>

    <ul>
        <li>Cómo el número verdadero de casos or muertes que se dieron para cada fecha
            es siempre menor que el verdadero;</li>
        <li>Los ciclos semanales en la administración de pruebas, más notable para los
            casos probables;</li>
        <li>La convergencia de las dos curvas de muertes al final es un artefacto de que
            aún deben quedar muertes por reportar que sucedieron en fechas recientes.</li>
    </ul>
</div>


<div class="section">
    <h1>Tendencia de casos nuevos por fecha de evento (promedios 7 días)</h1>

    <div id="NewCases"></div>
    <script type="text/javascript">
      embedChart('NewCases', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>La tendencia de los casos nuevos y las muertes, vista por medio de:</p>

    <ul>
        <li>La fecha en que se tomó la muestra o se dio el fallecimiento (no
            la fecha que se anunció el caso, como hacen muchos otros análisis);</li>
        <li>Promedios en ventanas de siete días que terminan en dicha fecha.</li>
    </ul>

    <p>Las líneas sólidas representan los promedios.  Los círculos semitransparentes
        son los números crudos de casos nuevos para cada fecha, a partir de los
        cuales se calculan estos promedios.  Se usa promedio por ventana de siete
        días para eliminar el efecto de los ciclos semanales.</p>

    <p><b>ADVERTENCIA:</b> Caídas súbitas al final de cada línea lo más probable
        no son reales, si no que más bien son artefactos de los rezagos—i.e., no
        han se han incorporado datos para esas fechas.</p>
</div>


<div class="section">
    <h1>Tiempos de duplicación de casos por fecha de evento</h1>

    <div id="Doubling" class="chart"></div>
    <script type="text/javascript">
      embedChart('Doubling', bulletin_date);
    </script>

    <h3>¿Qué es esto?</h3>

    <p>Las tendencias de la velocidad a la que han crecido los casos, expresadas
        en términos de tiempos de duplicación constante (duplicación cada dos días,
        tres días, cuatro días, etc.), y por ventanas de anchos de 7, 14 y 21 días.</p>

    <p>Esto es, para cada fecha, el ancho de ventana <i>n</i> dividido entre la subida del
        logaritmo base entre el valor acumulado hace <i>n</i> días y esa fecha.</p>

    <p>Si los datos de base no son una indicación fiable de la propagación de la
        epidemia, pues esta gráfica tampoco lo es; lo que nos dice es qué sería la
        verdad si los datos fueran de verdad.  ¯\_(ツ)_/¯</p>
</div>

<div class="section">
    <h1>Terminología</h1>

    <h3>Fecha de boletín</h3>
    <p>Las fechas que aparecen a la cabecera de los boletines que emite a diario
        el Departamento de Salud de Puerto Rico sobre los casos conocidos de COVID-19
        en Puerto Rico.  Estos boletines recopilan datos <b>hasta la fecha anterior
        a cuando se publican</b>; por ejemplo, el boletín que dice 2 de mayo se publicó
        el 3 de mayo.</p>

    <p><b>ADVERTENCIA:</b> Muchas bases de datos y reportajes usan la fecha que se publicó
        el boletín en vez de la fecha que dice este, y por eso atribuyen los mismos números
        aquí al próximo día.</p>


    <h3>Fecha de evento</h3>
    <p>La fecha en que en realidad sucedió un evento, según el boletín.  Para las cifras
        de muertes, esta es la fecha en que sucedió la muerte.  Para casos confirmados y
        probables, esto es la fecha en que se tomó muestra que se sometió a prueba.  Los
        boletines no aclaran qué fecha se usa para pacientes a los cuales se les administró
        más de una prueba.</p>

    <p><b>ADVERTENCIA:</b> Muchas bases de datos y reportajes usan la fecha de boletín o
        anuncio en vez de la de evento, y por eso no coinciden con los resultados que
        da este análisis.  Dar el análisis por fecha de evento en vez de boletín o anuncio
        es lo que motiva este proyecto.</p>

    <h3>Caso confirmado</h3>
    <p>Término que el Departamento de Salud de Puerto Rico usa para denominar a un
        paciente único que ha dado positivo a una prueba molecular (PCR) de SARS-CoV-2.</p>

    <h3>Caso probable</h3>
    <p>Término que el Departamento de Salud de Puerto Rico usa para denominar a un
        paciente único que ha dado positivo a una prueba serológica ("rápida").</p>
</div>

<div class="section">
    <h1>Datos fuente para {{ bulletin_date }}</h1>

    Estas son las imágenes de los boletines del Departamento de Salud que
    se usaron para elaborar este análisis.

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_announcement.jpg"></p>

    <h3>Casos únicos confirmados y probables {{ bulletin_date }} (vs. {{ previous_date }})</h3>

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_confirmed_and_probable.jpg"></p>
    <p><img class="source_chart" src="../source_material/{{ previous_date }}/{{ previous_date }}_confirmed_and_probable.jpg"></p>

    <h3>Casos únicos confirmados {{ bulletin_date }} (vs. {{ previous_date }})</h3>

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_confirmed.jpg"></p>
    <p><img class="source_chart" src="../source_material/{{ previous_date }}/{{ previous_date }}_confirmed.jpg"></p>

    <h3>Casos únicos probables {{ bulletin_date }} (vs. {{ previous_date }})</h3>

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_probable.jpg"></p>
    <p><img class="source_chart" src="../source_material/{{ previous_date }}/{{ previous_date }}_probable.jpg"></p>

    <h3>Muertes {{ bulletin_date }} (vs. {{ previous_date }})</h3>

    <p><img class="source_chart" src="../source_material/{{ bulletin_date }}/{{ bulletin_date }}_deaths.jpg"></p>
    <p><img class="source_chart" src="../source_material/{{ previous_date }}/{{ previous_date }}_deaths.jpg"></p>
</div>
{% endblock %}